.contact-section-container {
  .error {
    color: #CB4335;
    font-size: 0.8em;
    &.server {
      font-size: 0.9em;
    }
  }
  textarea {
    height: 25vh;
  }
  input, textarea {
    border: 1px solid #99A9BB;
    outline-style: none;
    &:focus {
      border-color: #2E4053
    }
  }
  form {
    button {
      background-color: black;
      border: 1px solid black;
      color: white;
    }
    .success{
      color: #229954
    }
  }
  .align-center {
    text-align: center;
  }
}