.contact-section-container {
  .error {
    color: #cb4335;
    font-size: 0.8em;
    &.server {
      font-size: 0.9em;
    }
  }
  textarea {
    height: 25vh;
  }
  label {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    &:first-child {
      margin-top: 0;
    }
  }
  input,
  textarea {
    border: 1px solid #99a9bb;
    outline-style: none;
    width: 100%;
    &:focus {
      border-color: #2e4053;
    }
    @media (min-width: 576px) {
      width: 80%;
    }
  }
  form {
    button {
      background-color: black;
      border: 1px solid black;
      color: white;
      margin-top: 0.5rem;
    }
    .success {
      color: #229954;
    }
    .send-message p {
      margin: 0;
    }
  }
  .align-center {
    text-align: center;
  }
  .about-us-text {
    font-size: 19px;
    margin-top: 2rem;
    a {
      color: black;
    }
    @media (min-width: 576px) {
      margin-top: 0;
    }
  }
  #yprt {
    width: 100%;
    height: 1000px;
  }
}
