.conversatorios-container {
  h2 {
    font-weight: bold;
  }
  .header-conversatorios {
    img {
      width: 100%;
    }
  }
  .container-info {
    margin-top: 3rem;
    .video-conversatorios {
      width: 100%;
    }
    .last-p {
      margin-bottom: 2.5rem;
    }
    .proximos-conversatorios-container {
      border-top: 1px solid black;
      padding-top: 2.5rem;
      .numero-conversatorio {
        background: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        font-family: 'Helvetica Now Display Bold';
        font-size: 2.5rem;
        margin-right: 1rem;
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        .fecha-img {
          width: 3rem;
          height: 3rem;
          @media (min-width: 576px) {
            width: 3rem;
            height: 2rem;
          }
        }
        .fecha {
          font-size: 1.15rem;
          margin-bottom: 0;
          @media (min-width: 576px) {
            font-size: 1.3rem;
          }
        }
        .direccion {
          font-size: 0.9rem;
          margin-bottom: 0;
        }
        .flecha-icono {
          width: 1rem;
          height: 1rem;
          margin-right: 0.5rem;
        }
        button {
          background-color: white;
          border: none;
          text-decoration: underline;
        }
      }
    }
    form {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      input,
      label,
      textarea,
      p {
        width: 100%;
      }
      label {
        margin-bottom: 0.1rem;
      }
      input,
      textarea {
        margin-bottom: 0.5rem;
      }
      textarea {
        height: 6rem;
      }
      .veri {
        width: 100%;
        input {
          width: 10rem;
        }
      }
      button {
        border: none;
        background-color: black;
        color: white;
        margin-top: 1rem;
      }
      .error-veri {
        margin-left: 1rem;
      }
      .error,
      .error-veri {
        color: #cb4335;
      }
      .success {
        margin-top: 0.5rem;
        color: #229954;
      }
    }
  }
}
