footer {
  color: #FFFFFF;
  .row {

    background-color: #000000;
    min-height: 15vh;
  }
  .info-container {
    p {
      font-size: 19px;
      margin-bottom: 0;
    }
    a {
      color: #FFFFFF;
    }
  }
  .social-networks-container {
    text-align: right;
    a {
      i {
        color: #FFFFFF;
        font-size: 17px;
        margin-right: 0.5em;
      }
    }
    a:last-child {
      i {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 576px) {
    .social-networks-container {
      text-align: center;
    }
  }
}