.section-container {
  font-family: 'Helvetica Now Display', sans-serif;
  .row {
    min-height: 75vh;
  }
  .row .row {
    min-height: unset;
  }
}
.home-container {
  background-color: black;
  min-height: 90vh;
}