@import './variables';
// Ohters
.project-detail-container {
  min-height: 68vh;
  .title {
    font-size: $font-x-big;
  }
  .description-p {
    font-size: 19px;
    .grey {
      color: #999
    }
  }
  #cover-video {
    height: 643px;
  }
  .bottom-stick-container {
    display: flex;
    .bottom-stick {
      bottom: 0;
    }
  }
  .top-stick-container {
    .top-stick {
      top: 2vh;
    }
  }
  .tag-link {
    color: $black;

  }
  .footer-container {
    background-color: white;
    bottom: 0;
    width: 100%;
    .row {
      height: 10vh;
    }
    a {
      color: $black;
      &:hover {
        text-decoration-color: $black;
      }
    }
    svg {
      width: 2em;
      fill: $black;
    }
  }
}

// Mobile
@media screen and (max-width: 576px) {
  .project-detail-container {
    .title {
      font-size: 35px;
    }
    .subtitle {
      font-size: 27px;
    }
    #cover-video {
      width: 400px;
      height: 225px;
    }
  }
}
