
// Ohters
.project-detail-container {
  min-height: 68vh;
  .title {
    font-size: 55px;
  }
  .description-p {
    font-size: 19px;
    .grey {
      color: #999
    }
  }
  .bottom-stick-container {
    display: flex;
    .bottom-stick {
      bottom: 0;
    }
  }
  .top-stick-container {
    .top-stick {
      top: 2vh;
    }
  }
  #cover-video {
    width: 1008px;
    height: 567px;
  }
}

// Mobile
@media screen and (max-width: 576px) {
  .project-detail-container {
    .title {
      font-size: 35px;
    }
    .subtitle {
      font-size: 27px;
    }
    #cover-video {
      width: 400px;
      height: 225px;
    }
  }
}
