.project-detail-container {
  .carousel-container {
    height: 200px;
    .img {
      width: 200px;
    }
    .s-carousel-item {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 2s;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .arrow {
    width: 2.5em;
    cursor: pointer;
  }
  #back-arrow,
  #forward-arrow {
    position: absolute;
    transform: rotate(-45deg);
    width: 1rem;
    height: 1rem;
    border-left: 3px solid black;
    border-top: 3px solid black;
    cursor: pointer;
  }
  #forward-arrow {
    transform: rotate(135deg);
  }
}