@import './variables';

.services-container {
  .black-intro {
    background-color: $black;
    height: 50vh;
    color: white;
    padding-top: 20vh;
    h2 {
      font-size: $font-x-big;
    }
  }
  h3 {
    font-size: 55px;
    top: 20vh;
  }
  .text-container {
    margin-top: 21vh;
  }
  .service-desc {
    p {
      font-size: 19px;
    }
  }
  .accordion {
    position: relative;
    font-size: $font-medium;
    .divider-line {
      border-bottom: 1px solid $grey;
      z-index: 100;
    }
    .card {
      border: none;
      transition: padding 0.3s ease-out;
      padding: 1rem 0;
      &.expanded {
        background-color: #ececec;
        padding: 3rem 0;
        .card-header {
          background-color: #ececec;
        }
      }
      .card-header {
        cursor: pointer;
        background-color: white;
        border: none;
      }
      .card-body {
        width: 50%;
        padding-bottom: 3rem;
        h3 {
          font-size: $font-large;
        }
      }
    }
    .service-title {
      font-size: $font-big;
      line-height: 1;
      cursor: pointer;
      transition: all 100 ease-out;
      svg {
        width: 1em;
        height: 1em;
        transition: all 0.3s ease-out;
        &.expanded {
          transform: rotate(45deg);
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 576px) {
  .services-container {
    .black-intro {
      padding-top: 15vh;
      h2 {
        font-size: $font-big;
      }
    }
    .accordion {
      .service-title {
        font-size: $font-m-large;
      }
      .card {
        .card-body {
          width: 100%;
          h3 {
            font-size: $font-m-large;
          }
        }
      }
    }
  }
}
