@import './variables';

.services-container {
  h3 {
    font-size: 55px;
    top: 20vh;
  }
  .text-container {
    margin-top: 21vh;
  }
  .service-desc {
    p {
      font-size: 19px;
    }
  }
  .hola {
    height: 150vh;
  }
}