@font-face {
  font-family: 'Helvetica Now Display';
  src: url('./fonts/HelveticaNowDisplay-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Helvetica Now Display Bold';
  src: url('./fonts/HelveticaNowDisplay-Bold.ttf') format('truetype')
}
body {
  .doc-container{
    font-family: 'Helvetica Now Display', sans-serif;
  }
}
.negrita {
  font-family: 'Helvetica Now Display Bold', sans-serif;
}
